.shop {
  position: relative;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
  padding: 2rem;
  animation: slide 1s;
}

@keyframes slide {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.loading {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 5rem;
  animation: 1s ease-in-out 0s infinite rotating;
}

@keyframes rotating {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .shop {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .shop {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .shop {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
