.shop {
  position: relative;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding: 2rem;
  animation: slide 1s;
}

@keyframes slide {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.loading {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 5rem;
  animation: 1s ease-in-out 0s infinite rotating;
}

@keyframes rotating {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
