.item {
  border: 1px solid #334155;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  box-shadow: 10px 10px 20px 0px rgba(218, 216, 216, 0.62);
}

.image {
  width: 10rem;
  height: 10rem;
  padding: 2rem;
}

.title {
  font-size: clamp(1rem, -1.9286rem + 4.5714vw, 1.5rem);
  padding: 2rem;
}

.price {
  font-size: clamp(1rem, -1.9286rem + 4.5714vw, 1.5rem);
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .image {
    width: 8rem;
    height: 8rem;
    padding: 1.8rem;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .image {
    width: 5rem;
    height: 5rem;
    padding: 1.2rem;
  }
}
