.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.info {
  border: 1px solid #334155;
  padding: 5rem;
  font-size: 1.5rem;
  gap: 30px;
  display: flex;
  max-width: 50%;
  box-shadow: 10px 10px 20px 0px rgba(150, 150, 150, 0.62);
  animation: 1s slide;
}

@keyframes slide {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.description {
  text-align: left;
}

.image {
  width: 20rem;
}

.highlight {
  background-color: #020617;
  color: #f8fafc;
}

.shopDesc {
  display: flex;
  flex-direction: column;
}

.btn {
  background-color: #020617;
  color: #f8fafc;
  border: 0;
  padding: 1.4rem 2rem 1.4rem 2rem;
  border-radius: 20px;
  border: 2px solid transparent;
  text-decoration: none;
  width: fit-content;
  transition: background-color 0.5s;
}

.btn:hover {
  background-color: #f8fafc;
  color: #020617;
  border: 2px solid #334155;
  cursor: pointer;
}
