.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #334155;
  animation: 0.8s slide;
  position: sticky;
  top: 0;
  opacity: 1;
  background-color: #ffffff;
  z-index: 2;
  width: 100%;
}

@keyframes slide {
  from {
    opacity: 0;
    transform: translateY(-80px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.name {
  margin: 0;
  font-size: clamp(2rem, -9.7143rem + 18.2857vw, 4rem);
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .name {
    font-size: clamp(1rem, -1rem + 10vw, 2rem);
  }
}
