@font-face {
  font-family: "Arimo";
  src: url(./assets/fonts/Arimo-Regular.ttf);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ffffff;
  font-family: "Arimo", sans-serif;
  height: 100%;
}

::selection {
  color: #f8fafc;
  background-color: #020617;
}
