.shoppingSection {
  display: flex;
  gap: 30px;
  font-size: 1.5rem;
  align-items: center;
}

a {
  text-decoration: none;
}

.cartSvg {
  width: 3rem;
}

.shopSvg {
  width: 2rem;
  vertical-align: middle;
}

.heading {
  cursor: pointer;
  text-decoration: none;
  font-size: clamp(1rem, -4.8571rem + 9.1429vw, 2rem);
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: #020617;
  position: relative;
}

.heading::after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background-color: #020617;
  position: absolute;
  bottom: -2px;
  left: 0;
  transition: width 0.2s ease-in-out;
}

.heading:hover::after {
  width: 100%;
}

.number {
  text-align: center;

  color: #020617;
  text-decoration: none;
  font-size: clamp(1rem, -4.8571rem + 9.1429vw, 2rem);
}

.cart {
  display: flex;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .cartSvg {
    width: 2rem;
    transition: 0.5s;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .cartSvg {
    width: 1.5rem;
    transition: 0.5s;
  }
}

@media screen and (min-width: 320px) and (max-width: 481px) {
  .cartSvg {
    width: 1.2rem;
    transition: 0.5s;
  }
}
